/* CSS for the login page */
@import url(https://fonts.googleapis.com/css?family=Inter);

html, body {
    width: 100%;
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Prevent scrollbars from appearing */
    background: linear-gradient(45deg, #232da7, #c46abd, #5cd2ad, #232da7, #c46abd, #5cd2ad);
    background-size: 600% 600%;
    animation: gradientWave 20s ease infinite;
}

@keyframes gradientWave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 775px;
    background-color: #dee3e3;
}

.logo {
    width: 260px;
    height: 70px;
    margin-top: 40px;
    margin-left: 70px;
}

.greeting h2 {
    font-family: 'Inter';
    font-size: 18px;
    margin-left: 20px;
    margin-top: 40px;
}

.greeting p {
    font-family: 'Inter';
    font-size: 14px;
    color: #6c7373;
    margin-left: 20px;
}

.credentials {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.credentials label {
    display: flex;
    align-items: center; /* Align items vertically */
    font-family: 'Inter';
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.credentials input[type="text"],
.credentials input[type="password"],
.credentials input[type="submit"] {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: 'Inter';
    box-sizing: border-box;
}

.credentials input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.credentials #rememberme {
    margin-bottom: 20px;
    font-size: 14px;
}

.credentials input[type="submit"] {
    background-color: #76a4a3;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.credentials input[type="submit"]:hover {
    background-color: #577979;
}

.credentials #registertext {
    margin-top: 40px;
    font-family: 'Inter';
    font-size: 14px;
    color: #656b6b;
    margin-left: 78px;
}

.credentials #registertext a {
    color: #54a189;
    text-decoration: none;
}

.right-box {
    display: flex;
    margin-left: 355px;
}

.password-container {
    position: relative;
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 40px;
}

.password-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 14px;
}

.password-container button img {
    width: 24px;
    height: 24px;
}

.password-container button:hover {
    background-color: transparent;
}
