/*css for register page */
@import url(https://fonts.googleapis.com/css?family=Inter);

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #232da7, #c46abd, #5cd2ad, #232da7, #c46abd, #5cd2ad);
    background-size: 600% 600%;
    animation: gradientWave 20s ease infinite;
}

@keyframes gradientWave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.register-box {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    background-color: #dee3e3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.greeting {
    text-align: center;
    margin-bottom: 20px;
}

.greeting h1 {
    font-family: 'Inter';
    font-size: 35px;
    margin: 0;
}

.greeting p {
    font-family: 'Inter';
    font-size: 16px;
    color: #6c7373;
}

.credentials {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.input-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.role-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.role-options input[type="radio"] {
    margin-right: 5px;
}

.role-options label {
    margin-right: 20px;
}

.credentials label {
    font-family: 'Inter';
    margin-bottom: 5px;
}

.credentials input[type="text"],
.credentials input[type="password"],
.credentials input[type="email"],
.credentials select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Inter';
    box-sizing: border-box;
}

.credentials input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #76a4a3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.credentials input[type="submit"]:hover {
    background-color: #577979;
}

.credentials #logintext {
    margin-top: 20px;
    font-family: 'Inter';
    font-size: 14px;
    color: #6c7373;
    text-align: center;
}

.credentials #logintext a {
    color: #577979;
    text-decoration: none;
}


/* this is for pop up message when there's an error */
/* please modify this */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
